// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
  width: 100%;
  margin: auto;
  text-align: left;
  position: relative;
}

// サーチボックス
#search_content{
  width: 100%;
  text-align: center;
  margin: auto;
  background: white;
}

#search_nav{
  text-align: left;
}

#pankuzu_nav{
  display: inline-block;
}

#pankuzu_ol{
  display: flex;
}

.pankuzu_li{
  display: flex;
}

.pankuzu_li:not(:last-child)::after {
  content: ">";
  display: block;
  margin-left: 6px;
  margin-right: 6px
}

#search_result{
  display: inline-block;
  margin-left: 10px;
}

.search_store{
  border-top: dotted 1px black;
  text-align: left;
}

.space:before{
  white-space: pre-wrap;
  content: "  ";
}

.contents{
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 13px;
  background: #eeeeee;
  padding-left: 0;
}

.content{
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.index_img_div{
  display: inline-block;
  width: 100%;
}

.index_img{
  width: 345px;
  height: auto;
}

.detail_btn_text{
  display: inline-block;
  padding: 0.25em 0.5em;
  color: black;
  background: white;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;
  border: solid 2px #AAAAAA;
  width: 87%;
}

.detail_btn_text:active { //押したとき
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.store_info{
  padding: 0 20px 10px 20px;
  border-bottom: solid 1px #AAAAAA;
}

.store_info_msg{
  padding-top: 0.32em;
}

.store_info_link{
  text-decoration: none;
}

.store_info_link:hover{ //マウスオーバー時にアクションを加える。
  text-decoration: underline gray;
}

.store_info_name{
  font-weight: bold;
}

.store_info_text{
  color: #999999;
  text-align: left;
}

//カテゴリをボタン風に表示する。
.store_info_btn{ text-align: left; }
.store_info_category{
  display: inline-block;
  padding: 0 0.3em 0.1em 0.2em;
  text-decoration: none;
  background: #AAAAAA;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 10px;
  color: white;
}

// ボタンタグの下線を消す。
.store_info_btn a {
  text-decoration: none;
}

// ボタンクリック時にアクションを加える。
.store_info_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

