#fav_search_content{
  width: 100%;
  margin: auto;
  background: white;
  display: inline-block;
  height: 100%;
}

.search_result_station{
  font-size: 19px;
  padding: 5px 0 8px 0px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  background: #DDDDDA;
}

.fav_content{
  background: #eeeeee;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
}

.fav_tatile_name{
  font-size: 16px;
  margin-bottom: 8px;
 }

.fav_store_image{
  width: 100%;
  overflow: hidden;
  height: auto;
}

.fav_image{
  width: 100%;
  height: auto;
}

.fav_store_detail{ text-decoration: none; }
.fav_store_detail:hover{ //マウスオーバー時にアクションを加える。
  background: none;
  color: black;
  text-decoration: underline;
  opacity: 0.7;
}

.fav_content_table{
  width: 100%;
  float: right;
  border: solid 1px;
  border-collapse: collapse;
  word-wrap: break-word;
  background: white;
  table-layout: fixed;
}

.fav_item_head{
  border: solid 1px #eeeeee;
  width: 70px;
  font-weight: 500;
  text-align: center;
  padding-top: 3px;
}

.square_area{
   display: inline-block;
    padding: 0.1em 0.5em 0.2em 0.5em;
    text-decoration: none;
    background: crimson;
    color: #FFF;
    border-radius: 5px;
    margin-top: 5px;
}

.distribute_btn {
  text-align: center;
}

.distribute_btn div {
  width: 95%;
  border: solid 2px #BBBBBB;
  margin-bottom: 1px;
}

