body{
  text-align: center;
  margin-right: auto;
  margin-left : auto;
  background: white;
  //width: 375px;
}

.maps_path{
  position: fixed;
  top: 0;/*基準を画面の左上に*/
  left: 0;
  margin: 0;/*余白が入らないように*/
  padding-top: 5px;
  /*以下装飾*/
  width: 100%;
  color: white;
  background: white;
}

/* checkbox */
.check {
  display: none;
}
/* menu button - label tag */
.menu-btn {
  position: fixed;
  display: block;
  top: 17px;
  right: 20px;
  display: block;
  width: 30px;
  height: 22px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  background-color:rgba(255,255,255,0);
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 4px;
    background: black;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.bar.middle {
    top: 9px;
    opacity: 1;
}

.bar.bottom {
    top: 18px;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

.close-menu {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}
/* checked */
.check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
}

.check:checked ~ .wrapper {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
    visibility: hidden;
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
    width: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
    width: 40px;
    top: 27px;
    //-webkit-transform: rotate(-30deg);
    //-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    background: rgba(0,0,0,.5);
    visibility: visible;
    opacity: 1;
}





// スライドメニュー
/* サイドオープン時にメインコンテンツを覆う部分 */
.overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.overlay::after {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.side-open .overlay {
  visibility: visible;
  cursor: pointer;
  background: rgba(0,0,0,.7);
}
.side-open .overlay::after {
  visibility: visible;
  color: rgba(255,255,255,.8);
}

// サイドメニュー ※リストのスタイルは省略
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 97%;
  padding-top: 10px;
  text-align: left;
  font-size: 13px;
  background-color: #2A408E;
  color: white;
}

// 開閉用ボタン ※ボタンの細かいスタイルは省略
// メインコンテンツ
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  background: #F8F8F8;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
  bottom: 0;
}
// メインコンテンツ内のスタイル ※デザインに併せて適当に
// サイドメニューオープン
.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}


//サーチボックス
.search_box_title{
  text-align: center;
}

.search_tree{
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin: 0;
 //height: 100%;
}

.link{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
  //border-top: solid 1px white;
  //border-bottom: solid 1px white;
}

.link_search{
  color: white;
}

.link:before{
  font-family: "FontAwesome";
  content: "\f0da";
  position: absolute;
  left: 1em;
}

#navbar{
  overflow: hidden;
  background: white;
}

#logo{
  height: 50px;
  width: auto;
}

.maps_path:hover{ background: white; }

#sub_title{
  font-size: 0.8em;
  margin-top: 48px;
}

#body_background{
  background: white;
  overflow: hidden;
}

#map_idx{
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
}


// サーチボックス
#search_box{
  display: none;
}

// フッター
footer{
  background: #f5f5f6;
  margin-top: 5px;
}

#footer_layout{
  text-align: center;
}

#footer_logo{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

#footer_logo_img{
  width: 70%;
}

.footer_cell{
  vertical-align: top;
  text-align: left;
  font-size: 15px;
}
.footer_item{
  padding-bottom: 20px;
  padding-left: 0;
}

.footer_cell:nth-of-type(1), .footer_cell:nth-of-type(2){ display: none; }
.footer_cell .search_box_title{ display: none; }
.footer_search_title{ display: none; }

#copyright{
  text-align: left;
  vertical-align: bottom;
}





