#about{
  width: 75%;
  display: inline-block;
  margin: auto;
}
#about_content{
  text-align: left;
  background: #eeeeee;
  padding: 5px 10px 10px 10px;
}

#about_content > p{
  font-size: 15px;
}


