body{
  text-align: center;
  margin-right: auto;
  margin-left : auto;
  background: white;
  width: 980px;
}

.br::before{
  content: "\A";
  white-space: pre;
}

#navbar{
  overflow: hidden;
}

#logo{
  height: 50px;
  width: auto;
  display: inline-block;
  text-decoration: none;
}

.maps_path:hover{ background: white; }

#sub_title{
  display: inline-block;
  text-align: left;
  width: 600px;
  margin: 10px 0 0 30px;
}

.br_box{
  height: 10px;
}

#body_background{
  background: white;
  overflow: hidden;
}

#map_idx{
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
}


// サーチボックス
#search_box{
  width: 20%;
  background: #f0f0f0;
  background: antiquewhite;
  display: inline-block;
  text-align: center;
  //float: left;
  border-radius: 5px;
  vertical-align: top;
}

.search_box_title{
  position: relative;
  display: inline-block;
  padding: 0 35px;
  margin: 10px 0 10px 0;
}

.search_box_title:before, .search_box_title:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: black;
}

.search_box_title:before{ left: 0; }
.search_box_title:after { right: 0; }

.search_tree{
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin: 0;
  list-style: disc;
}

.link_search{
  line-height: 1.5;
  padding: 0.5em 0;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.link_search:hover{ //マウスオーバー時にアクションを加える。
  background: peru;
  color: ivory;
}

.link_mark:before{
  font-family: "FontAwesome";
  content: "\f111";
  font-size: 0.5em;
  position: absolute;
  margin-top: 9px;
  left: 1em;
}

// mobile表示専用のHTML要素
.side-menu{ display: none; }
#checked{ display: none; }

// ページ内移動
.page_top a{
  color: orange;
}

.page_top{
  float: right;
  margin-right: 30px;
}

// フッター
footer{
  background: #DDDDDD;
  margin-top: 15px;
}

#footer_layout{
  text-align: center;
}

#footer_logo{
  display: inline-block;
  width: 40%;
  padding-top: 30px;
}

#footer_logo_img{
  width: 60%;
}

.footer_cell{
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

#copyright{
  text-align: center;
}

.footer_search_title{
  position: relative;
  display: inline-block;
  padding: 0 28px;
  margin: 10px 0 10px 0;
}

.footer_search_title:before, .footer_search_title:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 23px;
  height: 1px;
  background-color: black;
}

.footer_search_title:before{ left: 0; }
.footer_search_title:after { right: 0; }

//注釈
.annotation {
  text-align: left;
  margin-left: 40px;
  width: 40%;
  font-size: 10px;
}












