<%= render 'shared/search_list' %>
<div id="about">
  <div id='search_nav'>
    <nav id='pankuzu_nav'>
      <ol id='pankuzu_ol'>
        <li class='pankuzu_li'><%= link_to 'HOME', maps_path %></li>
        <li class='pankuzu_li'>靴サーチとは</li>
      </ol>
    </nav>
  </div>
  <div id="about_content">
    <h1>靴サーチとは</h1>
    <p>靴サーチとは、自分の欲しい靴が都内のどこで売られているかを簡単に見つけられるサービスです。</p>
    <p>靴屋をエリアや靴の種類で検索できるだけでなく、掲載している靴屋は全て靴好きの運営者オススメの靴屋であり、一つ一つのお店にコメントをつけているのでわかりやすくなっております。</p>
    <p>また、そのお店で扱っている靴のサイズも表記していくことで「気に入ったけどサイズがなくて買えなかった」というような悩みにも応えていきます。<sup>注１</sup></p>
    <p>「自分好みの靴屋さんをリサーチしたい」「自分の足サイズに合う靴屋さんの情報が欲しい」などなど、実は靴を買う人達って、人によって様々な都合を抱えているんですよね。</p>
    <p>例えば、</p>
    <p>「僕は男性だけど足サイズが24㎝でメンズ物の靴が買えなくて困っている」という人や「私は女性ですが25㎝もあってレディス物がたまに買えない」というサイズにストレスを感じている人達や、</p>
    <p>「買いたい靴の種類は決まっているので、その種類を扱っている靴屋で検索したい」という人や、「事前に商品や店内の写真を見て、品揃えや雰囲気を確認しておきたい」という人もいます。</p>
    <p>このような場面に出くわす方々に少しでも有益な情報を提供できたらなと思い、このサービスを運営しています。</p>
  </div>
</div>
