<%= render 'shared/search_list' %>
<div id="about">
  <div id='search_nav'>
    <nav id='pankuzu_nav'>
      <ol id='pankuzu_ol'>
        <li class='pankuzu_li'><%= link_to 'HOME', maps_path %></li>
        <li class='pankuzu_li'>靴屋リサーチとは</li>
      </ol>
    </nav>
  </div>
  <div id="about_content">
    <h1>靴屋リサーチとは</h1>
    <p>靴屋リサーチは、靴をこよなく愛する筆者オススメの靴屋さんを紹介するサービスです。</p>
    <p>「自分好みの靴屋さんをリサーチしたい」「自分の足サイズに合う靴屋さんの情報が欲しい」などなど、実は靴を買う人達って、人によって様々な都合を抱えているんですよね。</p>
    <p>例えば、</p>
    <p>「僕は男性だけど足サイズが24㎝でメンズ物の靴が買えなくて困っている」という人や「私は女性ですが25㎝もあってレディス物がたまに買えない」というサイズにストレスを感じている人達や、</p>
    <p>「事前に扱っている靴のジャンルを確認しておきたい」という人や、「事前に商品や店内の写真を見て雰囲気を知っておきたい」という人もいます。</p>

    <p>このような場面に出くわす方々に少しでも有益な情報を提供できたらなと思い、このサービスを運営しています。</p>
  </div>
</div>
