<%= render 'shared/search_list' %>
<div id="about">
  <div id='search_nav'>
    <nav id='pankuzu_nav'>
      <ol id='pankuzu_ol'>
        <li class='pankuzu_li'><%= link_to 'HOME', maps_path %></li>
        <li class='pankuzu_li'>お問い合わせ</li>
      </ol>
    </nav>
  </div>
  <div id="about_content">
    <h1>お問い合わせ</h1>
    <p>こちら現在作成中です。ご不便をおかけいたします。</p>
    <p>rk0822pu4@gmail.com こちら管理人のメールアドレスです。</p>
  </div>
</div>
