// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
  width: 65%;
  margin: auto;
}

// サーチボックス
#search_box{
  width: 17%;
  background: #f0dacd;
  float: left;
}

.search_box_title{
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin: 10px 0 0 0;
}

.search_box_title:before, .search_box_title:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

.search_box_title:before{ left: 0; }
.search_box_title:after { right: 0; }

.search_tree{
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin: 0;
}

.link{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}

.link:before{
  font-family: "FontAwesome";
  content: "\f0da";
  position: absolute;
  left: 1em;
}

/* サーチコンテンツ */
#search_content{
  width: 82%;
  text-align: center;
  margin: auto;
  background: white;
  float: right;
}

#search_result{
  font-size: 20px;
  font-weight: 900;
  padding-top: 10px;
}

.space:before {
  white-space: pre-wrap;
  content: "  ";
}

.content{
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  margin-top: 25px;
  width: 170px;
}

.detail_btn_text {
    display: inline-block;
    padding: 0.25em 0.5em;
    color: black;
    background: white;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 500;
    border: solid 2px #AAAAAA;
    width: 153px;
}

.detail_btn_text:active { //押したとき
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.store_info_msg{
  padding-top: 0.32em;
}

.store_info_link{
  text-decoration: none;
}

.store_info_link:hover{ //マウスオーバー時にアクションを加える。
  color: navy;
  text-decoration: underline;
}

.store_info_name{
  font-weight: bold;
}

.store_info_link div:nth-of-type(3){
  color: gray;
}



// 地図
#map_idx{
  height: 280px;
  width: 60%;
  margin: 12px auto;
}

