// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_idx{
  height: 280px;
  width: 60%;
  margin: 12px auto;
}

/* コンテンツ */
#search_result{
  font-size: 20px;
  font-weight: 900;
  padding-top: 10px;
}

.space:before {
  white-space: pre-wrap;
  content: "  ";
}

.contents{
  background-color:rgba(255,255,255,0.7);
}

.content{
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  margin-top: 25px;
  width: 170px;
}

