body{
  text-align: center;
  margin-right: auto;
  margin-left : auto;
  background: white;
}

#navbar{
  overflow: hidden;
}

#logo{
  height: 50px;
  width: auto;
}

.br_box{
  height: 10px;
}

.body_background{
  background: #f4f3f1;
  overflow: hidden;
}

