body{
  text-align: center;
  margin-right: auto;
  margin-left : auto;
  background: white;

}

#navbar{
  overflow: hidden;
}

#logo{
  height: 50px;
  width: auto;
}

#searchbox{
  padding-bottom: 4px;
  margin-left: 380px;
}

.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
  display: none;
}

.ui-multiselect-header.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  display: none;
}

.ui-helper-reset {
  text-align:left;
}

#search_ms{
  font-size: 18px;
  text-align:left;
}

#category_ms{
  text-align:left;
  font-size: 17px;
  height: 32px;
  padding-bottom: 1px;
}

#submit_btn{
  font-size: 14px;
  background: white;
  padding-top: 3px;
}

.br_box{
  background: green;
  height: 0px;
}

.body_background{
  background: #f4f3f1;
}


