// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_back{
  width: 70%;
  margin: auto;
}

#detail{
  overflow: hidden;
  width: 79%;
  float: right;
}

#detail_content_storename{
  font-size: 30px;
  margin: 25px 0 0 5px;
  text-align: left;
}

#detail_image_content{
  overflow: hidden;
  background: #eeeeee;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}

#image_function{
  max-width: 100%;
  height: auto;
}

.image{
  display: inline-block;
  padding: 3px;
}

#detail_content_images{
  width: 40%;
  float: left;
}

#detail_content_table{
  width: 58%;
  float: right;
  margin-bottom: 10px;
  border: solid 1px;
  border-collapse: collapse;
  word-wrap: break-word;
  background: white;
  table-layout: fixed;
}

.item_head{
  border: solid 1px #eeeeee;
  width: 80px;
  font-weight: 500;
}

.item_data{
  border: solid 1px #eeeeee;
  text-align: left;
}

