// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.br::before{
	content: "\A";
	white-space: pre;
}

#detail{
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
}

#image_function{
  max-width: 100%;
  height: auto;
}

.image{
  display: inline-block;
  padding: 5px;
}

#detail_content_images{
  width: 40%;
  float: left;
  background: white;
}

#detail_content_table{
  width: 59%;
  float: right;
  background: white;
  margin-bottom: 10px;
}

.detail_content_item{
  word-wrap: break-word;
  width: 100%;
  white-space: normal;
  display: block;
  margin: 0px 20px 30px 30px;
}

.item_dt{
  font-weight: bold;
  display: block;
  float: left;
}

.item_dd{
  text-align: left;
  width: 79%;
}

#detail_text_block{
  width: 80%;
  margin: auto;
  text-align: left;
}

.detail_text{
  font-size: 16px;
  line-height: 140%
}

#detail_content_storename{
  font-size: 45px;
  margin-top: 20px;
}

#map_show{
  width: 60%;
  margin: auto;
  height: 200px;
}

