// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  text-align: center;
  width: 80%;
  background: #FFD5EC;
}

.image{
  display: inline-block;
  padding: 10px;

}

#image_function{
//background-image: image-url("icon.png");
}

#container{
  height:100px;
  width:100px;
  border:3px;
  background-image: image-url("1.png");
}

#origin{
  height:100px;
  width:100px;

}


